.profile-page {
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  align-items: flex-start;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

.socials {
  display: flex;
}
