header {
  display: flex;
  justify-content: center;
  height: 64px;
}

nav {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
}

.nav-brand-search {
  display: flex;
  gap: 16px;
  align-items: center;
}

.nav-search input {
  background-color: hsl(263, 5%, 34%);
  width: 300px;
  border: none;
  flex: 1;
  border-radius: 16px;
  padding: 8px 16px;
}

.login {
  display: flex;
  align-items: center;
}
